<%= form_for(@stage) do |f| %>
  <% if @stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @stage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :interval_begin %><br />
    <%= f.text_field :interval_begin %>
  </div>
  <div class="field">
    <%= f.label :interval_end %><br />
    <%= f.text_field :interval_end %>
  </div>
  <div class="field">
    <%= f.label :previous_stage_id %><br />
    <%= f.select :previous_stage_id, (Stage.all_stages - [Stage.last_stage]).map { |s| [s.name, s.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
